<!DOCTYPE html>
<html lang="pt-br">
<head >
<meta charset="UTF-8">
<title> Mostrando Tarefas</title>
</head>
<body>
    <h1> Olá, <%=id%></h1>
    <h1> Eu sou  <%=name%> </h1>
    <h2> Cheguei na rota de fotos, Oba ! </h2>
</body>

</html>